<h3>Your Lead</h3>

<h4><label>Lead Name: </label><%= @lead.name %></h4>
<h4><label>Industry: </label><%= @lead.industry.name %></h4>
<h4><label>Status: </label><%= @lead.status %></h4>
<% if @lead.status == "Converted" %>
  <h4><label>Booked amount($): </label><%= @lead.booked_loans %></h4>
<% end %>

<p><%= form_tag edit_lead_path(@lead), method: "get" do %>
    <%= submit_tag("Edit Lead") %>
  <% end %>
</p>

<p><%= form_tag lead_path(@lead), method: "delete" do %>
    <%= submit_tag("Delete") %>
  <% end %>
</p>

<%= link_to "Back to Profile", agent_path(@agent) %>
