<h2><%= @agent.name %></h2>
<h2><%= @agent.region.name %></h2>

<p><%= form_tag signout_path do %>
  <input type=submit value='Sign Out'>
<% end %>
</p>

<p><%= link_to "Create Lead", new_lead_path %></p>

<div>
  <h4>Filter leads:</h4>
  <%= form_tag("/agents/#{@agent.id}", method: "get") do %>
    <%= select_tag(:status ,options_for_select([['Go','Go'],['No Go','No Go'],['Converted','Converted']]),include_blank: true) %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<br>
<table>
  <tr>
    <th>ID no</th>
    <th>Industry</th>
    <th>Lead Name</th>
    <th>Status</th>
    <th>Booked Amount</th>
  </tr>
  <% @leads.each do |lead| %>
  <tr>
      <td><%= lead.id %></td>
      <td><%= lead.industry.name %></td>
      <td><%= link_to lead.name, edit_lead_path(lead) %></td>
      <td><%= lead.status %></td>
      <td><%= lead.booked_loans %></td>
  </tr>
  <% end %>
</table>
