<h2><%= @region.name %></h2>

<%= link_to "Back", agent_path(session[:agent_id]) %><br>

<h4> Leads in the Region </h4>
<div>
  <h4>Filter leads:</h4>
  <%= form_tag("/regions/#{@region.id}", method: "get") do %>
    <%= select_tag(:status ,options_for_select([['Go','Go'],['No Go','No Go'],['Converted','Converted']]),include_blank: true) %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<br>
<table>
  <tr>
    <th>ID no</th>
    <th>Industry</th>
    <th>Lead Name</th>
    <th>Status</th>
    <th>Booked Amount</th>
  </tr>
  <% @leads.each do |lead| %>
  <tr>
      <td><%= lead.id %></td>
      <td><%= lead.industry.name %></td>
      <td><%= lead.name %></td>
      <td><%= lead.status %></td>
      <td><%= lead.booked_loans %></td>
  </tr>
  <% end %>
</table>
